@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .no-tw-base {
    font-size: revert;
    font-weight: revert;
    margin: revert;
    display: revert;
    vertical-align: revert;
    max-width: revert;
    height: revert;
    border-width: revert;
    border-color: revert;
    border-style: revert;
    outline: revert;
    list-style: revert;
    padding: revert;
  }

  .no-tw-base ul,
  .no-tw-base ol {
    padding: revert;
    list-style: revert;
    padding: revert;
  }
  .no-tw-base a {
    text-decoration: revert;
    text-decoration-color: #09d871;
  }

  .no-tw-base a:hover {
    color: #09d871;
  }
}
body {
  /* background-color: #212737; */
  background-color: #202855;
}

.blog-list::-webkit-scrollbar,
.profile-list::-webkit-scrollbar {
  height: 0.75rem;
}

.blog-list::-webkit-scrollbar-track,
.profile-list::-webkit-scrollbar-track {
  background-color: #1d2147;
}

.blog-list::-webkit-scrollbar-thumb,
.profile-list::-webkit-scrollbar-thumb {
  background-color: #09d871;
  border-radius: 100vw;
}

.speech-bubble {
  position: relative;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.speech-bubble::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #3c406b;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
